body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  background: linear-gradient(to bottom, #2d2d2d, #0d0d0d);
}
.displaynumbers {
    width: 100%;
    height: 90px;
    border-radius: 5px;
    background-color: white;
    margin: 10px;
    padding: 10px;
    box-sizing: border-box;  /* Padding included in width! */
    
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;

}
.display-text{
    font-family: 'Orbitron', sans-serif;
    font-weight: 700;
    font-size: 25px;
}
.main-calculator {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  width: 400px;
  height: 500px;
  background-color: #0d0d0d;
  border-radius: 15px;
  box-shadow: 0 5px 15px #ffffff;
}
.buttoncontainer {
  display: flex;
  justify-content: space-between;
  flex: 4;
  width: 100%;
}
.buttons-column{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    width: fit-content;
}

.buttoncontainer button {
  width: 90px;
  height: 60px;
  border-radius: 50%;
  background-color: #222222;
  color: #ffffff;
  font-size: 25px;
  outline-color: #ffffff;
  outline-width: 2px;
  outline-style: solid;
  box-shadow: 0 5px 5px #ffffff;
}
